@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/user-interface";

@font-face {
  font-family: 'homeostasis'; font-style: normal; font-weight: 400;
  src: url(/font/regular.ttf), url(/font/regular.eot);
}
@font-face {
  font-family: 'homeostasis'; font-style: normal; font-weight: 700;
  src: url(/font/bold.ttf), url(/font/bold.eot);
}

body { background: #282828 url(/bg.png); font-size: 15px; margin: 0 0 4em;
  font-family: homeostasis, "trebuchet ms", sans-serif; color: #fff; }
a { color: #3393E4; }
a:hover { color: #fff;
  -moz-transition: color 200ms linear; 
  -ms-transition: color 200ms linear; 
  -o-transition: color 200ms linear; 
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
code { font-family: Monaco, monospace; } 
.clear { clear: both; }

#canvas { width: 100%; margin-bottom: 65px; }
.frame { max-width: 920px; padding: 0 1.5em; margin: 0 auto; position: relative; }

h1 { padding-top: 50px; font-size: 2.2em; font-weight: bold; text-align: center;
  text-shadow: #111 1px 1px 1px; }
h2 { margin-top: 5px; font-size: 1.8em; font-weight: normal; text-align: center;
  color: #3393e4; line-height: 1.2em; text-shadow: #111 1px 1px 1px; }
pre { background: #000; color: #fff; padding: 15px 20px; line-height: 1.4em; overflow-y: auto; text-shadow: none; }
pre .prompt { color: #93e433; }
pre .comment { color: #777; }

.about { text-align: center; margin: 35px 2% 45px; font-size: 1.1em; line-height: 1.5em; }
.about.foot { margin-top: 45px; }

.feature-border { border-top: 1px solid #444; border-bottom: 1px solid #111;
  clear: both; }
.feature { overflow: auto; margin: 25px 0 35px; }
.feature h3 { font-family: Georgia, serif; font-weight: bold; font-size: 2em;
  margin-bottom: 0.6em; text-shadow: #111 1px 1px 1px; }
.feature pre { float: right; width: 49%; padding: 10px; font-size: 0.8em; }
.feature p, .feature ul { margin: 0 53% 1.2em 0; line-height: 1.5em; font-size: 1.1em; }
.feature ul { list-style: disc; margin-left: 1em; }
.feature p code { font-size: 0.8em; color: #93e433; background: #000; padding: 1px 2px; 
  text-shadow: none; }
.feature p strong.red { color: #fff; }

@media screen and (max-width: 800px) {
  body { font-size: 14px; }
}

@media screen and (max-width: 500px) {
  body { margin-bottom: 1em; }
  h1 { padding-top: 1.5em; font-size: 2em; }
  h2 { font-size: 1.5em; }
  .feature { overflow: visible; }
  .feature pre { float: none; width: 97%; margin: 0 0 10px; padding-right: 0; padding-left: 3%; }
  .feature h3 { text-align: center; font-size: 1.5em; }
  .feature h3, .feature p { margin-right: 0; }
  .desktop-only { display: none; }
}
